body {
  background-color: #212529;
  color: white;
}

.admin-title {
  margin-top: 15px;
  color: orange;
}

.admin-section {
  padding: 25px 0;
  border-bottom: 1px solid orange;
}

.modal {
  color: black;
}